<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Iron Beers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
  <nav class="nav-bar">
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random Beer</a>
  </nav>

  <main>
    {{{ body }}}
  </main>

  <footer class="footer">
    <p class="footer-text">Developed by Melissa Imai</p>
  </footer>

</body>

</html>